<div class="login">
    <div class="login__container">
        <h1>Registrate</h1>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Correo">
            </mat-form-field>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <input type="tel" matInput placeholder="Teléfono">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="DNI">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Departamento">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="text" matInput placeholder="Distrito">
                </mat-form-field>
            </div>
            <mat-form-field class="example-full-width">
              <input type="text" matInput placeholder="Dirección">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Contraseña">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="date" matInput placeholder="Día/Mes/Año">
            </mat-form-field>
            <label style="text-align: left;">Sexo</label>
            <mat-radio-group aria-label="Select an option" class="radio_buttons">
                <mat-radio-button value="1">Masculino</mat-radio-button>
                <mat-radio-button value="2">Feminino</mat-radio-button>
                <mat-radio-button value="3">No Especificar</mat-radio-button>
              </mat-radio-group>
          </form>
        <a href="javascript: void(0);" routerLink="/login">¿Ya tienes una cuenta? Inicia Sesión</a>
        <button mat-button>Registrarse</button>
    </div>
</div>