<div class="history">
    <div class="history__container">
        <h1>Historial de Reservas</h1>
        <div class="list">
            <div class="item" *ngFor="let item of reservations">
                <mat-card>
                    <mat-card-content>
                        <p><b>Código:</b> {{ item.id }}</p>
                        <div class="row">
                            <p><b>Nombre:</b> {{ item.name }}</p>
                            <p><b>Cantidad:</b> {{ item.amountKg }}</p>
                            <p><b>Monto Pagado:</b> {{ item.total | currency: 'S/' }}</p>
                        </div>
                        <div class="row">
                            <p><b>Tienda:</b> {{ item.store }}</p>
                            <p><b>Ubicación:</b> {{ item.department }}</p>
                            <p><b>Fecha a entregar:</b> {{ item.reservation }}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>