<div class="login">
    <div class="login__container">
        <h1>Iniciar Sesión</h1>
        <p>Inicia sesión y encuentra lo que buscas</p>
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Correo">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input type="email" matInput placeholder="Contraseña">
            </mat-form-field>
          </form>
        <a href="javascript: void(0);" routerLink="/registrar">¿Olvidaste tu contraseña?</a>
        <button mat-button routerLink="/">Iniciar Sesión</button>
    </div>
</div>