.login {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 209, 209);
    margin-top: 10%;
}

.login__container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    text-align: center;
    border-radius: 20px;
}

.login__container h1,p,a {
    text-decoration: none;
    color: #008037;
}

.login__container h1 {
    font-size: 3.4em;
    font-weight: 500;
}

.login__container p {
    font-size: 1em;
}

.login__container a {
    font-weight: bold;
}

.login__container form {
    display: flex;
    flex-direction: column;
}

.login__container button {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #008037;
    color: #fff;
    cursor: pointer;
}