<div class="history">
    <div class="history__container">
        <h1>Historial de pedidos</h1>
        <div class="list">
            <div class="item" *ngFor="let item of purchases">
                <mat-card>
                    <mat-card-content>
                        <p><b>Código:</b> {{ item.code }}</p>
                        <div class="row">
                            <p><b>Nombre:</b> {{ item.name }}</p>
                            <p><b>Cantidad:</b> {{ item.amount }}</p>
                            <p><b>Monto Pagado:</b> {{ item.pay_amount | currency:'S/' }}</p>
                        </div>
                        <div class="row">
                            <p><b>Tienda:</b> {{ item.store }}</p>
                            <p><b>Ubicación:</b> {{ item.location }}</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>