<div class="history">
    <div class="history__container">
        <h1>Historial de pedidos</h1>
        <div class="list">
            <div class="item" *ngFor="let item of [1,2,3,4,4,4]">
                <mat-card>
                    <mat-card-content>
                        <p><b>Código:</b> 123123123</p>
                        <div class="row">
                            <p><b>Nombre:</b> Roberto</p>
                            <p><b>Cantidad:</b> 10</p>
                            <p><b>Monto Pagado:</b> 100</p>
                        </div>
                        <div class="row">
                            <p><b>Tienda:</b> Lagarto Store</p>
                            <p><b>Ubicación:</b> Jr Carlos Benavides</p>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>