<div class="search">
    <div class="search__container">
        <mat-card class="search_card">
            <mat-card-content class="search_card_content">
                <img src="../../../assets/logo.png" alt="">
                <h2>Apoya a miles de agricultores comprandoles directamente</h2>
                <div class="inputs">
                    <input type="text" placeholder="¿Qué Buscas?">
                    <input type="text" placeholder="¿Dónde?">
                </div>
                <button mat-raised-button routerLink="/productos">BUSCAR</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>