<div class="search">
    <div class="search__container">
        <mat-card class="search_card">
            <mat-card-content class="search_card_content">
                <h2>Apoya a miles de agricultores comprandoles directamente</h2>
                <div class="inputs">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="¿Qué buscas?" [(ngModel)]="searchInput">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Seleccione</mat-label>
                        <mat-select matNativeControl required [(ngModel)]="departmentSelect">
                            <mat-option value="" selected>-Seleccione-</mat-option>
                            <mat-option [value]="item.name" *ngFor="let item of departments">{{ item.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <button mat-raised-button (click)="search()">BUSCAR</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>